In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('STI Nikkei(1).csv')

In [3]:
df

      Index        Date   Nikkei Open  STI Open
0       1.0  11/11/2009       9890.18   2718.01
1       2.0  11/12/2009       9921.45   2743.45
2       3.0    11/13/09       9793.19   2707.76
3       4.0    11/16/09       9784.14   2735.73
4       5.0    11/17/09       9834.58   2785.94
...     ...         ...           ...       ...
5294    NaN   7/10/2000      17421.60       NaN
5295    NaN    7/7/2000      17290.50       NaN
5296    NaN    7/6/2000      17402.70       NaN
5297    NaN    7/5/2000      17473.80       NaN
5298    NaN    7/4/2000      17655.60       NaN

[5299 rows x 4 columns]

In [4]:
df = df.dropna()

In [5]:
X = df.loc[:,[' Nikkei Open']]
Y = df.loc[:,['STI Open']]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y)

In [7]:
from sklearn import linear_model
model = linear_model.LinearRegression().fit(X_train,Y_train)

In [8]:
pred = model.predict(X_test)

In [9]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(Y_test,pred)**0.5)

230.4220647649704

In [10]:
import joblib
joblib.dump(model,"STI_REG")

['STI_REG']